# Apache X Table with DeltaStreamer and trino Demo

# Install DEP
```
pip install trino
pip install ipython-sql

```

# Read data as HUDI

In [1]:
%load_ext sql

In [2]:
%sql trino://admin@localhost:8080/default

In [3]:
%sql SHOW TABLES

 * trino://admin@localhost:8080/default
(trino.exceptions.TrinoUserError) TrinoUserError(type=USER_ERROR, name=MISSING_SCHEMA_NAME, message="line 1:1: Schema must be specified when session schema is not set", query_id=20240402_115646_00000_wgz39)
[SQL: SHOW TABLES]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [3]:
%sql SHOW CATALOGS

 * trino://admin@localhost:8080/default
Done.

[('delta',), ('hive',), ('hudi',), ('iceberg',), ('minio',), ('system',)]

In [4]:
%sql USE hudi.default

 * trino://admin@localhost:8080/default
Done.

[]

In [5]:
%sql SELECT * FROM bronze_orders limit 2

 * trino://admin@localhost:8080/default
Done.

[('20240402075348072', '20240402075348072_33_0', '523853e9-798a-4fc3-b2fc-819b77b1d82b', 'state=TN', 'b2ae4d0a-38b3-42e0-8593-e9cd48af90c1-0_33-27-195_20240402075348072.parquet', '523853e9-798a-4fc3-b2fc-819b77b1d82b', 'Fast several care.', 402, 'MEDIUM', datetime.date(2024, 3, 11), 'f92b8a72-df60-4c81-8a00-4b9296658680', 1712058607.062175, 'TN'),
 ('20240402075348072', '20240402075348072_58_0', '4e3296e7-4e9a-4447-99ef-54e2229ddb0f', 'state=MO', '3fd27d2a-f52c-4edf-837a-3f3bde53f2e6-0_58-27-220_20240402075348072.parquet', '4e3296e7-4e9a-4447-99ef-54e2229ddb0f', 'Money increase.', 742, 'LOW', datetime.date(2024, 3, 14), 'dbf17165-04ad-4131-add7-6d5f0b2e370d', 1712058607.084821, 'MO')]

In [17]:
%sql SHOW CATALOGS

%sql USE hudi.default

%sql SHOW TABLES

%sql SELECT * FROM bronze_orders limit 2

 * trino://admin@localhost:8080/default
Done.
 * trino://admin@localhost:8080/default
Done.
 * trino://admin@localhost:8080/default
Done.
 * trino://admin@localhost:8080/default
Done.

[('20240401172009853', '20240401172009853_47_0', '5645125b-4971-4120-8f42-0ab426e91e24', 'state=MA', 'd86fef6a-06a7-4e3f-be29-d141f2f17efb-0_47-29-341_20240401172009853.parquet', '5645125b-4971-4120-8f42-0ab426e91e24', 'Example attention.', 946, 'LOW', datetime.date(2024, 3, 4), '4a3b6da3-a60c-4b16-ada7-f7911889c334', 1711891671.575942, 'MA'),
 ('20240401172009853', '20240401172009853_47_1', 'dbc16706-8860-41c7-a807-261d0eb1bdff', 'state=MA', 'd86fef6a-06a7-4e3f-be29-d141f2f17efb-0_47-29-341_20240401172009853.parquet', 'dbc16706-8860-41c7-a807-261d0eb1bdff', 'Mission current.', 206, 'HIGH', datetime.date(2024, 3, 20), 'd1920f30-cf5f-4e2e-a71a-bc4409be973e', 1711891671.665964, 'MA')]

# Read As Delta

In [6]:
%sql SHOW CATALOGS

%sql USE delta.delta_db

%sql SHOW TABLES

%sql select * from orders limit 2

 * trino://admin@localhost:8080/default
Done.
 * trino://admin@localhost:8080/default
Done.
 * trino://admin@localhost:8080/default
Done.
 * trino://admin@localhost:8080/default
Done.

[('20240402075348072', '20240402075348072_32_0', 'f848525c-1374-418d-94e3-8d0180262e2b', 'state=LA', 'b2b6ca0e-3589-4fd5-b808-58d3c0b2e028-0_32-27-194_20240402075348072.parquet', 'f848525c-1374-418d-94e3-8d0180262e2b', 'Early visit.', 526, 'LOW', 'LA', datetime.date(2024, 3, 18), '72229064-c1f2-4ecd-b658-930601141490', 1712058607.065763),
 ('20240402075348072', '20240402075348072_55_0', '8ebfbfac-2023-454e-b2eb-9c2455b935f6', 'state=MN', '9704ee3b-171b-480f-9104-f3496419a3f5-0_55-27-217_20240402075348072.parquet', '8ebfbfac-2023-454e-b2eb-9c2455b935f6', 'Since should unit.', 855, 'LOW', 'MN', datetime.date(2024, 3, 28), '09744ba1-8e9f-497d-beed-88cc24ffe495', 1712058607.066639)]